<div class="header">
  <div class="fluid-container">
    <div class="line atas">
    </div>
    <div class="hurufBesar">
      <h1>GODESIGN</h1></div>
    <div class="line bawah"></div>
  </div>
  <nav class="navbar navbar-samping-kiri navbar-default navbar-static-top">
    <div class="fluid-container">
      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li class="nav-hover"><a ui-sref="landing.home">Home</a></li>
          <li class="nav-hover"><a ui-sref="landing.about" class="">About</a></li>
          <li class="nav-hover"><a ui-sref="login" class="">Login</a></li>
          <li class="nav-hover"><a ui-sref="dashboard" class="">Dashboard</a></li>
          <li class="nav-hover"><a ui-sref="landing.addArticle" class="">Add Article</a></li>
          <!--<li class="nav-hover"><a ui-sref="" class="">Categories</a></li>-->
          <!--<li class="nav-hover"><a ui-sref="" class="">Contact</a></li>-->
        </ul>
      </div>
    </div>
  </nav>
  <div>
    <ul>
    </ul>
  </div>


  <div class="fluid-container">
    <div ui-view="level1"></div>
  </div>

  <div class="footer">
    <div class="container">
      <p><span class="glyphicon glyphicon-heart"></span> from the batch4 fe teamB</p>
    </div>
  </div>
