<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
 -->

<div class="row marketing">
  <div class="col-sm-6">
    <ul style="list-style-type:none">
      <li>
    <h5> 13 august </h5>
    <h4>HTML5 Boilerplate</h4>
   <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p></li>

   <li>   
    <h5> 12 august </h5>
    <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p></li>

  <li>
    <h5> 11 august </h5>
   <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
  </li>

    </ul>
  </div>

  <div class="col-sm-3 list"> 
    <h4 style="text-align: center"> Most Recent </h4>
    <ul style="list-style-type:none" ">
    <li><a href="1">HTML5 Boilerplate</a></li>
    <li><a href="1">Angular</a></li>
    <li><a href="1">Karma</a></li>
    <li><a href="1">Yoeman</a></li>
    <li><a href="1">Javascript</a></li>
  </ul>
</div>

  <div class="col-sm-3">  
    <h4 style="text-align: center"> Images </h4>
    <ul style="list-style-type:none" >
    <li>  <img src="images/yeoman.png" alt="I'm Yeoman"> </li>
       <li>  <img src="images/yeoman.png" alt="I'm Yeoman"> </li>
          <li>  <img src="images/yeoman.png" alt="I'm Yeoman"> </li>
             <li>  <img src="images/yeoman.png" alt="I'm Yeoman"> </li>
                <li>  <img src="images/yeoman.png" alt="I'm Yeoman"> </li>
     </ul>
   </ul>
  </div>
</div> 


