<div class="row">
  <div class="col-lg-6">
    <div class="garis">22 Oktober 2017</div>
    <h3>Risma Malam Ini Kepergok Bersihkan Got yang Dibuntu Sampah</h3>
    <p class="article">Kota Surabaya diguyur hujan deras malam ini. Wali Kota Tri Rismaharini keliling memantau saluran air yang rawan terjadi penyumbatan. Sudah menjadi rahasia umum dilakukan wali kota yang pernah dinobatkan terbaik nomor tiga dunia ini tidak akan bisa
      diam saat terjadi hujan di Kota Pahlawan. Saat tiba di sekitar RSU dr Soetomo di Jalan Dharmawangsa, Risma yang selalu memonitor anak buahnya melalui Handy Talkie (HT) langsung turun dari mobil dinasnya, Senin (23/10/2017) malam.oluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h5><a href="/#">READ MORE</a></h5>
    <div class="garis">22 Oktober 2017</div>
    <h3>Ini Perintah Jokowi ke Menlu soal Panglima TNI Ditolak Masuk AS</h3>
    <p class="article">Presiden Joko Widodo (Jokowi) meminta Kementerian Luar Negeri (Kemenlu) untuk menindaklanjuti informasi penolakan Panglima TNI Jenderal Gatot Nurmantyo ke Amerika Serikat (AS). Menlu Retno LP Marsudi pun telah dipanggil oleh Jokowi soal kasus ini.
      "Pak Presiden meminta Kemenlu dalam hal ini Menlu untuk menindaklanjuti informasi yang disampaikan kepada presiden itu," kata Staf Khusus Kepresidenan bidang Komunikasi Johan Budi SP di gedung Binagraha, Jalan Medan Merdeka Utara, Jakarta Pusat,
      Senin (23/10/2017).</p>
    <h5><a href="/#">READ MORE</a></h5>
    <div class="garis">22 Oktober 2017</div>
    <h3>Pengemudi Taksi Online Wajib Kantongi SIM A Umum, Kenapa?</h3>
    <p class="article">Pengemudi taksi online wajib mengantongi Surat Izin Mengemudi (SIM) A Umum. Hal ini tertuang dalam Revisi Peraturan Menteri 26 Tahun 2017 Tentang Penyelenggaraan Angkutan Orang dengan Kendaraan Bermotor Umum Tidak dalam Trayek alias taksi online.
      Pelaksana tugas (Plt) Dirjen Perhubungan Darat, Hindro Surahmat, menjelaskan bahwa pada dasarnya setiap pengemudi angkutan umum harus memiliki SIM A Umum. Pasalnya, mengemudi kendaraan umum dengan kendaraan pribadi memiliki tanggung jawab yang berbeda.</p>
    <h5><a href="/#">READ MORE</a></h5>
    <div class="garis">22 Oktober 2017</div>
    <h3>Tapak Ban Marquez di Baju Balap Rossi</h3>
    <p class="article">Balapan seru di Australia memunculkan banyak kejadian menarik di atas trek. Salah satunya senggolan ban depan Marc Marquez dengan bahu Valentino Rossi, yang sampai meninggalkan bekas. MotoGP Australia berjalan sengit sejak start sampai finis. Setidaknya
      ada empat sampai lima pebalap saling susul di posisi terdepan dan bergantian memimpin balapan.</p>
    <h5><a href="/#">READ MORE</a></h5>
    <div class="garis">22 Oktober 2017</div>
    <h3>Buntut Motor Marquez Sobek, Bukti Sengitnya Balapan di Australia</h3>
    <p class="article">Bukan cuma Valentino Rossi yang dipepet pesaing dalam balapan di Phillip Island. Sengitnya rivalitas juga dirasakan oleh Marc Marquez. Bagian ekor motornya sampai retak. Saling salip dan beberapa kali perubahan posisi pemimpin balapan terjadi di MotoGP
      Australia. Valentino Rossi, Maverick Vinales, Andrea Iannone, Johann Zarco, dan Marquez berulang kali saling susul nyaris sepanjang race, Minggu (22/10/2017) kemarin.</p>
    <h5><a href="/#">READ MORE</a></h5>
  </div>
  <div class="col-lg-3">
    <h5 class="judul-berita">Most Recent</h5>
    <div class="garis-bawah">
      <h6>Jogja istimewa</h6></div>
    <div class="garis-bawah">
      <h6>Rossi</h6></div>
    <div class="garis-bawah">
      <h6>Menang lagi marques</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
    <div class="garis-bawah">
      <h6>Lorem ipsum</h6></div>
  </div>
  <div class="col-lg-3">
    <h5 class="judul-berita">From the book store</h5>
    <div><img src="images/3b624a9a-1c1f-41f0-b59e-f7c8a1310bb2_169.jpg" alt="Gambar1" class="gambar"></div>
    <div><img src="images/8fcfd8de-90c4-4a49-ac8f-74e023e38a5a_169.jpg" alt="Gambar2" class="gambar"></div>
    <div><img src="images/12d37191-5e69-4d1a-9148-bd5e746c2ec4_43.jpg" alt="Gambar3" class="gambar"></div>
    <div><img src="images/30d6f329-b1ae-41a7-9854-5845409b8ced_169.jpg" alt="Gambar4" class="gambar"></div>
    <div><img src="images/287c69c0-e8f4-4c6f-9c02-cc7f75467984_169.jpg" alt="Gambar5" class="gambar"></div>
    <div><img src="images/6023dda2-c7ed-4d14-a21a-92dd4637a8e0_169.jpg" alt="Gambar6" class="gambar"></div>
    <div><img src="images/aa0d435f-a71a-4c41-9742-c245c04e69ee_169.jpg" alt="Gambar7" class="gambar"></div>
    <div><img src="images/c489bee6-c3f6-4f04-9309-f51a956a0c00_169.jpg" alt="Gambar8" class="gambar"></div>
    <div><img src="images/w644.jpeg" alt="Gambar9" class="gambar"></div>
    <div><img src="images/3b624a9a-1c1f-41f0-b59e-f7c8a1310bb2_169.jpg" alt="Gambar10" class="gambar"></div>

  </div>

</div>
