<div class="row">
    <div class="col-sm-6">
      <h5><b>La Chamerliera</b></h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <hr>
      <h5><b>To the contributor</b></h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <hr>
    </div>
    <div class="col-sm-3">
      <h5><b>Most Recent</b></h5>
      <h6>La Chamerliera la chamera</h6>
      <hr>
      <h6>To the contributors lala</h6>
      <hr>
      <h6>logos on vintage contributors</h6>
      <hr>
      <h6>La Chamerliera studi</h6>
      <hr>
      <h6>To the contributors</h6>
      <hr>
      <h5><b>Elsewhere</b></h5>
      <h6>La Chamerliera</h6>
      <hr>
      <h6>To the contributors</h6>
      <hr>
      <h6>logos on vintage</h6>

    </div>
    <div class="col-sm-3">
      <h5><b>From the bookstore</b></h5>
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    </div>
  </div>
